.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

#rollbackBtn {
  margin-bottom: 20px;
  margin-left: 95%;
}

#formContent {
  padding: 1% 15%;
}

.addTextArea{
  margin-bottom: 3%;
}